---
import '../styles/style.css';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="assets/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
</head>
<body>
<div class="content-wrapper">
    <h1>H1 - Lorem ipsum dolor</h1>
    <h2>H2 - Lorem ipsum dolor</h2>
    <h3>H3 - Lorem ipsum dolor</h3>
    <h4>H4 - Lorem ipsum dolor</h4>
    <p>p - Lorem ipsum dolor</p>
</div>
</body>
</html>