---
import FeatureCard from './FeatureCard.astro'
---
<div class="feature-card-wrapper">
    <FeatureCard title="Meta Quest" subTitle="2 - 3 - Pro"></FeatureCard>
    <FeatureCard title="3D-Export" subTitle="Export als GLB"></FeatureCard>
    <FeatureCard title="Kollaboration" subTitle="bald verfuegbar"></FeatureCard>
</div>

<style>
    .feature-card-wrapper {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>